@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --branco: #ffffff;
  --vermelho: rgb(255, 0, 0);
  --cinza: rgb(100, 100, 100);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  background-image: url(./img/relogio.jpg);
}

.container {
    margin: 50px auto;
    position: fixed;
    top: 6.5rem;
    left: 32rem;
    padding: 20px;
    border-radius: 10px;
}

.titulo, .relogio {
    color: var(--branco);
}

.titulo {
    margin-left: 10px;
    font-size: 44px;
}

.relogio {
  font-size: 64px;
}

.iniciar, 
.pausar, 
.zerar {
    background-color: var(--cinza);
    color: var(--branco);
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
    padding: 8px 12px;
}

.pausado {
  color:  var(--vermelho);
}

@media screen and (max-width: 480px) {
    .container {
        left: 4rem;
        top: 6rem;
    }
}